RewriteEngine On

# Si existe archivo o carpeta, no reescribir
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Todo lo demás va a index.php
RewriteRule ^ index.php [L]